<% title @home_p.met_title %>
<% description @home_p.met_description %>
<% keywords @home_p.met_keywords %>
<% provide(:footer_top, '-50px') %>
<% provide(:header_box, '0px -5px 11px #888') %>


<div id="owl-slide" class="owl-carousel owl-theme">
  <%= @home_p.carousel.html_safe %>
</div>

<div class="container" id="back_home">
  <%= @home_p.content.html_safe %>
</div>

