<% title @home_p.met_title %>
<% description @home_p.met_description %>
<% keywords @home_p.met_keywords %>
<% provide(:footer_top, '-50px') %>
<% provide(:header_box, '0px -5px 11px #888') %>


<div id="owl-slide" class="owl-carousel owl-theme">
  <div class="item"><img src="assets/lion_27-wallpaper-1366x768.jpg" alt="Owl Image"></div>
  <div class="item"><img src="assets/the_book_of_life_2014-wallpaper-1366x768.jpg" alt="Owl Image"></div>
  <div class="item"><img src="assets/vector_lion-wallpaper-1366x768.jpg" alt="Owl Image"></div>
</div>

<div class="container" id="back_home">
  <%= @home_p.content.html_safe %>
</div>

