<% provide(:title, 'Home') %>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({

            autoPlay: 5000,
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem: true,
        });
    });
</script>

<div id="owl-slide" class="owl-carousel owl-theme">
  <div class="item"><img src="assets/lion_27-wallpaper-1366x768.jpg" alt="Owl Image"></div>
  <div class="item"><img src="assets/the_book_of_life_2014-wallpaper-1366x768.jpg" alt="Owl Image"></div>
  <div class="item"><img src="assets/vector_lion-wallpaper-1366x768.jpg" alt="Owl Image"></div>
</div>

<div class="container" id="back1st">
  <div class="row" id="row1st">
    <div class="col-sm-offset-1 col-sm-11 col-lg-offset-1 col-lg-6">
        <video width="500" height="auto" controls>
          <source src="https://www.youtube.com/watch?v=4npEmGSpRR8" type="video/mp4">
          <source src="https://www.youtube.com/watch?v=-yNlwa_bZNo" type="video/ogg">
          Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-sm-offset-1 col-sm-11 col-lg-4">
      <h1> Metoda pierwsza </h1>
    </div>
  </div>
  <hr>
</div>
<div class="container" id="back2nd">
  KAMIL TARNOWSKI
</div>
