<div class="row" id="row_next">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/1-tynki-agregatem'>Tynki Agregatem</a></div></h1>
    <h2 style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  consectetur adipisicing</h2>
  </div>
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-5">
    <iframe width="450" height="300" src="//www.youtube.com/embed/z1CbHSnAxaw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<hr>
<div class="clearfix visible-sm"></div>

<div class="row" id="row_next">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-5">
    <iframe width="450" height="300" src="//www.youtube.com/embed/z1CbHSnAxaw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/2-wylewki-mixokretem'>Wylewki Mixokrętem</a></div></h1>
    <h2 style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  consectetur adipisicing</h2>
  </div>
</div>
<hr>
<div class="clearfix visible-sm"></div>

<div class="row" id="row_next">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/3-posadzki-przemyslowe'>Posadzki Przemysłowe</a></div></h1>
    <h2 style="margin-bottom: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  consectetur adipisicing</h2>
  </div>
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-5">
    <iframe width="450" height="300" src="//www.youtube.com/embed/z1CbHSnAxaw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>