<div class="row" id="row_next">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/1-tynki-agregatem'>Tynki Agregatem</a></div></h1>
    <h3 style="margin-bottom: 30px"><i>Tynki maszynowe, cementowo-wapienne, sprawdzają się doskonale w <strong>trudnych warunkach</strong>. Przy zastosowaniu agregatu tynkarskiego, czas realizacji pracy ulega znacznej <strong>redukcji</strong>.</i></h3>
  </div>
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-5 col-lg-offset-1 col-lg-5">
    <img src="https://s3.eu-central-1.amazonaws.com/borkowski/home%26methods/45405_1221771967972_n.jpg" alt="Tynk agregatem" class="img-responsive img-rounded black-shadow">
  </div>
</div>
<hr>
<div class="clearfix visible-sm"></div>

<div class="row" id="row_next">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-5 col-lg-offset-1 col-lg-5">
    <img src="https://s3.eu-central-1.amazonaws.com/borkowski/home%26methods/P1030169.JPG" alt="Wylewki mixokretem" class="img-responsive img-rounded black-shadow">
  </div>
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/2-wylewki-mixokretem'>Wylewki Mixokretem</a></div></h1>
    <h3 style="margin-bottom: 30px"><i>Maszynowe posadzki betonowe i wylewki betonowe mixokretem pozwalają uzyskać <strong>oszczędność czasu</strong> oraz środków finansowych. Zastosowanie wysokiej klasy urządzeń, <strong>gwarancją</strong> solidnej zaprawy cementowo-piaskowej.</i></h3>
  </div>
</div>
<hr>
<div class="clearfix visible-sm"></div>

<div class="row" id="row_next">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
    <h1><div class="dtitle"><a class='htitle' href='/business_methods/3-posadzki-przemyslowe'>Posadzki Przemysłowe</a></div></h1>
    <h3 style="margin-bottom: 30px"><i>Posadzki betonowe, utwardzane do budownictwa przemysłowego cechuje m. in. duża wytrzymałość na ściskanie i zginanie, odporność na ścieranie. Dobieramy <strong>specjalistyczne</strong> sprzęty takie jak: listwy wibracyjne, zacieraczki oraz inne.</i></h3>
  </div>
  <div class="col-sm-offset-1 col-sm-10 col-md-5 col-lg-offset-1 col-lg-5">
    <img src="https://s3.eu-central-1.amazonaws.com/borkowski/home%26methods/20111117175cut.jpg" alt="Posadzki przemysłowe" class="img-responsive img-rounded black-shadow">
  </div>
</div>