<div class="row" id="row_next">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-5">

    <h2>Oferujemy wykonanie tynków maszynowych, cementowo - wapiennych:</h2>

    <ul>
      <li>Zabezpieczenie stolarki okiennej i drzwiowej</li>
      <li>Ewentualne gruntowanie podłoża</li>
      <li>Założenie zbrojenia z siatki w miejscach narażonych na pęknięcia</li>
      <li>Przygotowanie i nałożenie masy tynkarskiej przy pomocy agregatu tynkarskiego</li>
      <li>Wyrównanie oraz wygładzenie powierzchni maszynowo bądź ręcznie</li>
    </ul>

  </div>

  <div class="col-xs-10 col-xs-offset-1 col-md-4" style="padding-top: 30px" >

    <img  src='https://s3.eu-central-1.amazonaws.com/borkowski/home%26methods/tynk1_scaled.jpg' alt='Metoda tynkowania' class="img-responsive img-rounded black-shadow">

  </div>

</div>

<div class="row" id="row_next">

  <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-3" style="padding-bottom: 30px">

    <img src='https://s3.eu-central-1.amazonaws.com/borkowski/home%26methods/tynk2.jpg' alt='Metoda tynkowania 2' class="img-responsive img-rounded black-shadow">

  </div>

  <div class="col-xs-10 col-xs-offset-1 col-md-6" >

    <p style="text-indent: 30px">Ten rodzaj tynku maszynowego wyrabiany jest z fabrycznie przygotowywanych, specjalnych suchych mas tynkarskich lub osobnych składników : piach, wapno, cement, przygotowywanych w odpowiednich proporcjach na budowie. Niewątpliwą zaletą tynku cementowo-wapiennego jest bardzo wysoka odporność na wilgoć. W dodatku cechuje go duża mrozoodporoność. Odznacza się on również bardzo dobrąodpornością mechaniczną oraz wysoką trwałością.</p>

    <p style="text-indent: 30px"> Powyższe cechy sprawiają, że może być on zastosowany zarówno wewnątrz jak i na zewnątrz budynku. Niestety tynk cementowo-wapiennyposiada niskie parametry izolacyjnye.
      Zaletą tynków maszynowych jest niewątpliwie wysoka jakość powierzchni oraz krótki czas realizacji w porównaniu z metodą tradycyjną. </p>

  </div>

</div>