<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Napisz Opinię o nas</h2>

      <%= simple_form_for @opinion do |opinion| %>

          <%= opinion.input :content, required: true, label: 'Treść:', input_html: { minleangth: 50, maxlength: 140, class: 'restr_area'  }, hint: 'Ilość znaków: 50 minimum, 140 maksimum' %>

          <p class="bg-danger too_short" style="display: none">Opinia jest za krótka.</p>
          <p class="bg-danger too_long" style="display: none">Opinia jest za długa.</p>

          <%= opinion.button :submit, 'Prześlij opinię' %>

      <% end %>

    </div>
  </div>
</div>