<% title 'Napisz opinię o nas' %>
<% description 'Wylewki Mixokretem Tynki Agregatem Posadzki Przemysłowe na terenie: Połaniec, Staszów, Osiek i inne. Najlepsza jakość i rozsądne ceny!' %>
<% keywords 'Krzysztof Borkowski Wylewki Tynki Posadzki Połaniec Staszów Mielec Tarnobrzeg Osiek Wylewka Tynk Posadzka Agregatem Mixokretem Przemysłowa Firma Budowlana Budownictwo Remont Beton Jakość Cena Facebook'  %>

<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Napisz Opinię o nas</h2>

      <%= simple_form_for @opinion do |opinion| %>

          <%= opinion.input :content, required: true, label: 'Treść:', input_html: { minleangth: 40, maxlength: 140  }, hint: 'Ilość znaków: 50 minimum, 140 maksimum' %>

          <%= opinion.button :submit, 'Prześlij opinię' %>

      <% end %>

    </div>
  </div>
</div>