<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Twoja Opinia</h2>

      <br>

      <div class="row">

      <div class="jumbotron" style="box-shadow: 5px 5px 11px 0">

        <% if current_user.opinion.content =~ /^(")+(.)+(")$/i %>
            <h4><i><%= current_user.opinion.content %></i></h4>
        <% else %>
            <h4><i><%= '"'+current_user.opinion.content+'"' %></i></h4>
        <% end %>

      </div>

      </div>

      <p>
        W celu edycji opini, prosimy w tej sprawie skontaktować się poprzez formularz:

        <br><br>

        <%= link_to "Formularz kontaktowy", contact_path + '#contact_link' %>
      </p>

    </div>
  </div>
</div>