<% title 'Indeks Opinii' %>
<% description 'Wylewki Mixokretem Tynki Agregatem Posadzki Przemysłowe na terenie: Połaniec, Staszów, Osiek i inne. Najlepsza jakość i rozsądne ceny!' %>
<% keywords 'Krzysztof Borkowski Wylewki Tynki Posadzki Połaniec Staszów Mielec Tarnobrzeg Osiek Wylewka Tynk Posadzka Agregatem Mixokretem Przemysłowa Firma Budowlana Budownictwo Remont Beton Jakość Cena Facebook'  %>

<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Twoja Opinia</h2>

      <br>

      <div class="row">

      <div class="jumbotron" style="box-shadow: 5px 5px 11px 0">

        <% if current_user.opinion.content =~ /^(")+(.)+(")$/i %>
            <h4><i><%= current_user.opinion.content %></i></h4>
        <% else %>
            <h4><i><%= '"'+current_user.opinion.content+'"' %></i></h4>
        <% end %>

      </div>

      </div>

      <p>
        W celu edycji opinii, prosimy skontaktować się z nami poprzez formularz dostępny poniżej:

        <br><br>

        <%= link_to "Formularz kontaktowy", contact_path + '#contact_link' %>
      </p>

    </div>
  </div>
</div>