<p>Witaj <%= @resource.email %>!</p>

<p>Wysłano do Ciebie wiadomość związaną ze zmianą hasła. Możesz to uczynić klikając w poniższy link.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli wiadmość nie jest przeznaczona dla Ciebie, proszę ją zignorować.</p>
